.cardContainer {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;

	padding-bottom: 50px;
	background-color: white;
	/* border-radius: 0.8em; */
	box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

.cardImage {
	order: 0;
	height: 40vh;
	overflow: hidden;
}

.cardImage img {
	display: block;
	margin: 0;
	object-fit: cover;
}

.content {
	order: 1;
	margin: 2em;
}

.date {
	font-size: 1.1em;
	font-weight: 500;
}

.innerContent {
	order: 2;
	margin-top: 2em;
}
