.cardContainer {
	display: flex;
	flex-direction: column;
	width: 350px;
	height: 400px;
	margin: 20px 0px;
	background-color: #fafafa;
	/* border-radius: 0.8em; */
	box-shadow: 0px 0px 10px 0px rgba(112, 112, 112, 0.5);
	overflow: hidden;
	/* flex: 0 0 auto; */
}

.cardContainer:hover {
	box-shadow: 2px 5px 10px 0px rgba(112, 112, 112, 0.7);
}

@media screen and (max-width: 420px) {
	.cardContainer {
		width: 90vw;
		/* margin: 20px; */
	}
}

.cardImage {
	order: 0;
	height: 200px;
	width: 100%;
	object-fit: cover;
}

.cardDescription {
	order: 1;
	margin: auto 20px;
}

.cardDescription h3 {
	height: 68px;
	overflow: hidden;
}

.cardDescription p {
	margin: 0 0 8px;
	max-height: 39px;
	line-height: 1.2em;
	overflow: hidden;
}

.link,
.link:hover {
	color: inherit;
	text-decoration: none;
}
