.landingContainer {
	z-index: 0;
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.landingImg {
	height: 100vh;
}

.landingText {
	z-index: 1;
	width: 100%;
	height: 100vh;
	padding: 0 20px;
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;

	overflow: hidden;
	background-color: null;

	text-align: center;
	color: aliceblue;
}

.landingText h1 {
	font-size: 7vw;
}

.landingText p {
	font-size: 2.47vw;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	font-weight: 300;
}

.content h2 {
	text-align: center;
}
