.navBar {
	margin-bottom: 50px;
	background-color: rgb(43, 57, 73);
	/* rgb(3, 7, 10) */
}

.navBar a {
	font-weight: 500;
	font-size: 1.3em;
	font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navBar button {
	border: 0;
	padding: 0;
}
