@import "../../scss/colours.scss";
@import "../../scss/fonts.scss";

.navbar {
	margin-bottom: 50px;

	background-color: $grey-accent;
}

#responsive-navbar-nav .nav-link {
	color: $white-font;
	font-size: 1.3em;
	font-family: $font-fam-heading;
}

#responsive-navbar-nav .nav-link:hover {
	color: $blue-accent;
}

.navbar .navbar-toggler {
	border-style: none;
	padding: 0;
}
.navbar .navbar-toggler .navbar-toggler-icon {
	width: 40px;
	height: 40px;
}
