:root {
  --color-primary: #112d4e;
  --color-secondary: #3f72af;
  --color-bg: #f9f7f7;
  --navbar-height: 4.375rem; /* 70px */
  --spacing: 2rem;
}

html > body {
  font-size: 16px;
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color-primary);
  background-color: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-track {
  background: var(--color-primary);
}
body::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
}
