$white-bg: rgb(253, 255, 252) !default;
$white-font: rgb(255, 255, 255) !default;
$black-font: rgb(3, 7, 10) !default;
$grey-accent: rgb(43, 57, 73) !default;
$green-accent: rgb(78, 205, 196) !default;
$blue-accent: rgb(14, 177, 210) !default;

$theme-colors: (
	"primary": $blue-accent,
	"secondary": $green-accent,
	// "success": ..,
		// "info": ..,
		// "warning": ..,
		// "danger": ..,
		// "light": ..,
		// "dark": ..
);
