@import "./variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./header.scss";

@media screen and (max-width: 420px) {
	h1.name {
		font-size: $h2-font-size;
	}
}

p.tagline {
	font-family: $headings-font-family;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0.05em;
}
