footer {
	@extend .py-5;
	// position: absolute;
	// bottom: 0;
	// height: 350px;

	width: 100%;
	background-color: $gray-200;
	border-top-left-radius: 10em;
	border-top-right-radius: 10em;

	// & p.footer-link {
	// 	font-family: $headings-font-family;
	// 	font-weight: 500;
	// 	font-size: $h5-font-size;
	// }
}

footer i.fab {
	@extend .fa-fw, .mx-1;
	// 	@extend .fa-3x;

	font-size: 2rem;
}
