footer {
	@extend .py-5;
	position: absolute;
	bottom: 0;

	width: 100%;
	height: 350px;
	background-color: $gray-200;

	// & p.footer-link {
	// 	font-family: $headings-font-family;
	// 	font-weight: 500;
	// 	font-size: $h5-font-size;
	// }
}

footer i.fab {
	@extend .fa-fw, .mx-1;
	// 	@extend .fa-3x;

	font-size: 2rem;
}
