.navbar a.navbar-brand,
.navbar .navbar-nav a.nav-link {
	font-family: $headings-font-family;
	font-weight: 500;
	font-size: $h5-font-size;
	color: rgba($primary, 0.75);
}

.navbar a.navbar-brand {
	font-weight: 700;
	font-size: $h4-font-size;
}

.navbar a.navbar-brand {
	color: $primary;
}

.navbar .navbar-nav a.nav-link:hover {
	color: $primary;
}

a.nav-link:not(:last-child) {
	@extend .pr-5;
}

nav.navbar {
	box-shadow: 0px 1px 10px 2px rgba($gray-500, 0.5);
}
