$primary: #303030;
$primary-light: #4f4f4f;
$secondary: #7798ab;
$green: #73dd8d;
$yellow: #f3de8a;

$headings-font-family: Raleway, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$headings-font-weight: 700;
$headings-color: $primary;

$font-family-sans-serif: "Source Sans Pro", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
	"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$body-color: $primary;

$navbar-toggler-padding-y: 0;
$navbar-toggler-padding-x: 0;
$navbar-dark-toggler-border-color: rgba(255, 255, 255, 0);
$navbar-light-toggler-border-color: rgba(255, 255, 255, 0);
$navbar-toggler-font-size: 1.5rem;

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px
);

$enable-rounded: true;

$fa-font-path: "../../node_modules/@fortawesome/fontawesome-free/webfonts";
